*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}
section{
    padding: 40px 15%;
}
.contact{
    width: 100%;
    height: 100%;
    background-color: #484848;
    min-height: 100vh;
    display:grid ;
    grid-template-columns: repeat(2,2fr);
    align-items: center;
    grid-gap: 6rem;
}
.contact-img img{
    max-width: 100%;
    width: 720px;
    height: auto;
    border-radius: 10px;

}
.contact-form h1{
    font-size: 70px;
    color: white;
    margin-bottom: 20px;
}
span{
    color: rgb(248, 48, 48);
}
.contact-form p{
    color:#c6c9d8bf;
    font-size:1.1rem;
    letter-spacing: 1px;
    line-height:26px;
    margin-bottom:3.8rem;
}
.contact-form form{
    position: relative;
}
.contact-form form input,textarea{
    border: none;
    outline: none;
    width: 100%;
    padding:17px;
    font-size:1.1rem ;
    color: #fff;
    background-color: #4a3b3b;
    margin-bottom:0.7rem;
    border-radius: 10px;
}
.contact-form text{
    height: 200px;
    resize: none;
}

.contact-form form .btn{
    font-size:1.1rem;
    font-weight:600;
    display: inline-block;
    border: 2px solid transparent;
    text-transform: uppercase;
    background-color: #f9004d;
    letter-spacing:1px;
    width: 200px;
    border-radius: 10px;
    transition: ease .20s;
    cursor: pointer;
}
.contact-form form .btn:hover {
    border:2px solid #f9004d;
    background: transparent;
    transform: scale(1.1);
}
@media (max-width:1570px) {
    section{
        padding:80px 3%;
        transition: .2s;
    }
    .contact-form h1{
        font-size: 50px;
    }
    .contact-form p{
        margin-bottom:3rem;
    }
}
@media (max-width:1090px){
    .contact{
        grid-gap: 2rem;
    transition: .3s;
    }
    
}
@media (max-width:1000px)
{
    .contact{
        grid-template-columns: 1fr;
    }
    .contact-form{
        order: 2;
    }
    .contact-img img{
        max-width: 100%;
        width: 100%;
        height: auto;
        margin-bottom: 30px;
    text-align: center;

    }
}